.container {
    width: 40%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4%;
    padding: 1%;
    background-color: rgba(234, 236, 240, 0.753);
    border: 1px solid rgba(197, 197, 197, 0.507);
    border-radius: 20px;
    /* position: relative; */
    box-shadow: 5px 5px 5px gray;
}

.form {
    width: 95%;
    /* height: 20%; */
    background-color: white;
    padding: 2%;
    border-radius: 12px;
    margin-bottom: 3%;
}

.form label {
    color: rgba(0, 0, 0, 0.384);
}

.form div {
    margin: 1.5%;
}

.form input {
    border: none;
    background-color: transparent;
    font-size: 1.4rem;
    width: 70%;
}

.form input::-webkit-outer-spin-button,
.form input::-webkit-inner-spin-button {    
    -webkit-appearance: none;
    margin: 0;
}

.form input:focus {
    outline: none;
}

.mode-select {
    background-color: rgb(217, 226, 245);
    border: none;
    padding: 1.2%;
    border-radius: 5px;
    float: right;
    color: rgba(0, 0, 0, 0.589);
    font-weight: bold;
}

.mode-select option {
    border: none;
    padding: 1%;
    font-weight: bolder;
}

.mode-select:focus {
    outline: none;
}

.convert {
    /* position: absolute; */
    width: 100%;
    padding: 2.5%;
    border: none;
    border-radius: 12px;
    background-color: rgb(83, 136, 228);
    font-size: 1rem;
    color: white;
    font-weight: bolder;
    bottom: 0;
    margin: 3%;
}